<div id="<%= dom_id autor %>" style="background: #cdbbbb; border: 30px solid pink; border-radius: 20px; padding: 15px; margin-right: 70em;margin: 0 auto; width: 40%;">
  <p>
    <strong>Nome do Autor:</strong>
    <%= autor.nome %>
  </p>

</div>
