<h1 style="color: #8f244d; margin-left: 10em;">Editar Gênero
  <i class="bi bi-pencil-square"></i></h1>

<%= render "form", genero: @genero %>

<br>

<div style="border: 2px solid #81d7cd; border-radius: 20px; padding: 0.5em; margin-right: 70em; text-align: center; background-color:#c0ebe6;margin: 0 auto; width: 40%;">
  <%= link_to "Mostrar gênero", @genero %> |
  <%= link_to "Voltar para gêneros", generos_path %>
</div>


      <style>
  a {
    text-decoration: none; 
    font-family: cursive;
  }
</style>